doctype strict

html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

    title #{title}

    script(src="/socket.io/socket.io.js")
    script(src="js/jquery-1.11.1.js")
    script(src="/semantic/dist/semantic.min.js")
    script(src="js/script.js")

    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="/semantic/dist/semantic.min.css")
    style(type="text/css").
      body {
        background: black;
      }

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
