#main {
    background-color: white;
    min-height: 100%;
}

h3 {
    text-align: center;
}

.navdiv {
    height: 45vh;
    min-height: 300px;
}

.navcontent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    text-align: center;
    max-height: 95%;
}

.use-height {
    height: 45vh;
    min-height: 250px;
}

.use-width {
    max-width: 95%;
    max-height: 95%
}
